services:
  mysql:
    image: 'mysql:latest'
    container_name: 'users_db'
    restart: 'always'
    environment:
      - 'MYSQL_ROOT_PASSWORD=root'
      - 'MYSQL_DATABASE=spring_security'
    ports:
      - '3306:3306'